<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Dodawanie produktu</h1>
<form method="post">
<table border="1">
    <tr><th>Nazwa produktu</th><td><input type="text" name="nazwa"/></td></tr>
{#    <tr><th>Opis produktu</th><td><input type="text" name="opis"/></td></tr>#}
    <tr><th>Opis produktu</th><td><textarea rows="8" cols="40" name="opis"></textarea></td></tr>
    <tr><th>Cena produktu</th><td><input type="text" name="cena"/></td></tr>
</table>
    <input type="submit" value="Zapisz"/>
</form>
</body>
</html>