<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'menu.html' %}
<h1>Strona główna!</h1>
{{ author }}
{{ author.imie }} {{ author.nazwisko }}
{% for l in languages %}
    {{ l }}<br>
{% endfor %}

<hr>
<br><Br>

<a href="/add_product">Dodaj produkt</a>
<table border="1">
    <tr>
        <th>Id produktu</th>
        <th>Nazwa produktu</th>
        <th>Cena produktu</th>
        <th>Kolor</th>
        <th>Akcje</th>
    </tr>
    {% for p in products %}
        <tr><td>{{ p.product_id }}</td><td>{{ p.product_name }}</td><td>{{ p.product_price }}</td>
        <td>
            {% if p.product_id == 1 %}
                <font color="green">Zielony</font>
            {% elif p.product_id==2 %}
                <font color="orange">Pomarańczowy</font>
            {% else %}
                <font color="red">Czerwony</font>
            {% endif %}
        </td>
        <td>
            <a href="/product_details?id={{ p.product_id }}">Szczegóły produktu</a>
        </td>
        </tr>
    {% endfor %}
</table>



</body>
</html>